# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Config
config.yml
config.yml.example

# Rules
rules/

# Git
.git
.gitignore

# Python venv
.venv

# Repo trash
LICENSE
README.md
